<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Our Pledge To You:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/farm/sheep1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1. Natural</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Apple Creek Farm produces all natural lamb. No growth hormones, no antibiotics, no GMO feeds. All our lambing is done on pasture during spring green up, in sync with nature.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/farm/sheep2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2. Freedom</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our sheep are never confined or kept in a feed lot. They are moved to fresh pasture every day or two, always using low stress stockmanship skills as taught by Temple Grandin and the late Bud Williams.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/farm/covercrop1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3. Diversity</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We use intensive rotational grazing to promote healthy soil and pasture diversity, striving for a sustainable relationship between soil, plants and livestock. We don't use chemical sprays or artificial fertilizers, but rather use a holistic approach to maintaining pasture growth and variety of plant species.
</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/farm/sheepdog1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>4. Community</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our Sheepdogs live with our flocks around the clock, always keeping a watchful eye to protect from prey animals. With that said, we have chosen to allow the local Coyote population to coexist as they haven't preyed on our sheep and are a valuable asset to keeping other prey animals out of their territory.</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                          <a href="#contact">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                          </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>


<!--
Apple Creek Farm produces all natural lamb. No growth hormones, no antibiotics, no GMO feeds. All our lambing is done on pasture during spring green up, in sync with nature.

Our sheep are never confined or kept in a feed lot. They are moved to fresh pasture every day or two, always using low stress stockmanship skills as taught by Temple Grandin and the late Bud Williams.

We use intensive rotational grazing to promote healthy soil and pasture diversity, striving for a sustainable relationship between soil, plants and livestock. We don't use chemical sprays or artificial fertilizers, but rather use a holistic approach to maintaining pasture growth and variety of plant species.

Our Sheepdogs live with our flocks around the clock, always keeping a watchful eye to protect from prey animals. With that said, we have chosen to allow the local Coyote population to coexist as they haven't preyed on our sheep and are a valuable asset to keeping other prey animals out of their territory.

 -->
