<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Team</h2>
                    <h3 class="section-subheading text-muted">Leading Our Future, Learning From Our Past</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">I grew up on a farm in Michigan, milking cows and haying with my brothers for our landlord, as well as raising and milking goats for our family.
<br><br>
Bart met and married his wife Trish, and together they raised five daughters. Hired on as a foreman on a ranch in Colorado, Bart attended Ranching for Profit School, which changed everything he had known about ranching and livestock management. This gave cause to relocating to a more productive part of the country, Iowa.
<br><br>
After joining Practical Farmers of Iowa, Bart met John and Shirley Waite, and is helping to transform their farm from conventional farming to an all forage based livestock enterprise.
<br><br>
<b><i>"Our goals are sustainable grazing practices, holistic management and all our products should be 100% all natural, with an emphasis on good land and animal stewardship."</b></i>
<br><br>
Future plans include adding beef, poultry, pork and other on farm product sales, as well as helping to teach other farmers/ranchers and school aged children the possibilities of sustainable farming practices. </p>
                </div>
            </div>
        </div>
    </section>
